<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div style="width:100%;height:30px;background:#ffffff;font-size: 16px;" ></div>
<div id="content" style="width:1040px;">
    <div style="width:790px;float:left;margin-left:30px;">
        <!--main begin-->
        <div style="width:790px;height:100px;">
            <div th:each="goodsOne:${list}" style="width:250px;height:100px;float: left;background:#eeeeee;margin-left:10px;margin-top:10px;">
                <div>商品ID:[[${goodsOne.goodsId}]]</div>
                <div>商品名称:[[${goodsOne.goodsName}]]</div>
            </div>
        </div>
        <!--main   end-->
    </div>
</div>
</body>
</html>
